{
   "parser": "babel-eslint",
   "extends": [
      "react",
//       "eslint:recommended",
      ],
   "env": {
      "browser": true,
      "node": true
   },
   "settings": {
      "react": {
         "version": "detect"
      }
   },
   "rules": {
       "space-before-function-paren": ["error", "never"],
       "no-alert": "off"
   }
}