
.teButtons {
    flex: 1;
    margin-left:10px;
    margin-right:40px;
    flex-direction: column;
    border: 1px solid black;
    background-color: white;
    font-color: black;
    font-size: 18px;
}

.teScreenTable {
    margin: 10px;
}

.teRowBlock {
}

.teSubTemplateBlock {
    display: flex;
    flex-direction: row;
}
.teTemplateEditor {
    flex: 1;
    margin: 10px;
}
.teOutputEditor {
    flex: 1;
    margin: 10px;
}
.teContextEditor {
    flex: 1;
    margin: 10px;
}
